<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Directory</title>
    <link rel = "stylesheet" type = "text/css" href = "/css/directoryStyle.css">
    <script src = '/socket.io/socket.io.js'></script>
</head>
<body style = 'margin:0'>
    <div id = 'inputWindow'>
        <input id = 'hideWindow' class = 'button' type = 'submit' value = 'X'>
        <input id = 'textInput' type = "text">
    </div>
    <div id = 'content'>
        <div id = 'errorMessage'></div>
        <div id = 'topContainer'>
            <input id = 'addCategory' type = 'submit' value = '+'>
        </div>
        <ul id = 'categories'>
        <% categories.forEach(category => { %>
            <% if(category.imageSource){ %>
                <li class = 'block' style = 'background-image: url("<%=category.imageSource%>");'>
            <% } else { %>
                <li class = 'block'>
            <% } %>
                <div id = 'loading'></div>
                <span class = 'text' name = '<%=category.name%>'><%=category.name%></span>
            </li>
        <% }); %>
        </ul>
    </div>
<script src = "../directory.js"></script>
</body>

</html>