*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
}

#content{
    overflow: auto;
    position: fixed;
    left: 50%;
    transform: translate(-50%);
    top: 200px;
    z-index: -1;

    height: calc(100% - 200px);
    width: 100vw;
}

#products{
    margin: 0;
}

#topContainer{
    text-align: center;

    position: fixed;
    left: 50%;
    transform: translate(-50%);

    height: 200px;
    width: 80vw; max-width: 500px;
    z-index: 5;

    border-bottom: 2px black solid;
}

#products li{
    border-top: none;
}

#products li:nth-child(odd){
    border-right: none;
    margin-left: max(10vw, 50vw - 251px);
}

#products li:last-child{
    margin-bottom: 40px;
    border: 2px black solid;
    border-top: none;
}

#products li:nth-child(-n+2){
    border-top: 2px black solid;
}

#products:first-child{
    border-right: 2px black solid;
}

#content::-webkit-scrollbar {
    display: none;
}

.block{
    height: 40vw; max-height: 250px;
    width: 40vw; max-width: 250px;

    position: relative;
    float : left;
    overflow: hidden;

    border: 2px black solid;
    background-color: white;
    box-sizing: border-box;

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.topText{
    display: block;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.8);
    border:2px black solid;
    text-align: center;
    width: 180px;
}

.bottomText{
    box-sizing: border-box;
    display: block;
    font-size: 20px;
    background-color: rgba(128, 128, 128, 0.8);
    border:2px black solid;
    border-top: none;
    text-align: center;
    width: 180px;
}

#addProduct{
    height: 80px;
    width: 80px;
    float: right;

    margin-right: 5px;
    border:2px black solid;
    background-color: white;
}

#addProduct:hover{
    background-color: rgb(230, 230, 230);
}

#addProduct:active{
    background-color: rgb(210,210,210);
}

#addProduct{
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60%;
    background-image: url('../icons/plus80.png');
}

#navigateBack{
    height: 80px;
    width: 80px;
    float: left;

    margin: 0 5px;
    border:2px black solid;
    background-color: white;
}

#navigateBack:hover{
    background-color: rgb(230, 230, 230);
}

#navigateBack:active{
    background-color: rgb(210,210,210);
}

#navigateBack{
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60%;
    background-image: url('../icons/back80.png');
}

#dropdownMenu li:hover{
    background-color: rgb(230, 230, 230);
}

ul{
    padding: 0;
    list-style-type: none;
}

#inputWindow{
    position: absolute;
    top: 20vh;
    left: 50%;
    transform: translate(-50%, -50%);
    position: fixed;

    height: 60px;
    width: 90vw; max-width: 600px;

    border: 1200px rgba(255, 255, 255, 0.7) solid;
    background-color: white;
    background-clip: padding-box;

    display: none;
    z-index: 10;
}

#errorMessage{
    height: 60px;
    width: 80vw; max-width: 510px;

    text-align: center;
    line-height: 60px;
    margin: 10px 0;

    box-sizing: border-box;
    border: 2px black solid;
    background-color: orangered;   

    visibility: hidden;
}

#hideWindow:hover{
    background-color: rgb(230, 230, 230);
}

#hideWindow:active{
    background-color: rgb(210,210,210);
}

#hideWindow{
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60%;
    background-image: url('../icons/cross80.png');
}

#errorMessage.visible{
    visibility: visible;
}

.button{
    float: right;
    box-sizing: border-box;

    height: 60px;
    background-color: white;
    border:1px grey solid;

    margin: 0;
    width: 60px;
}

#toggleDropdown{
    width: 180px;
}

#toggleDropdown:hover{
    background-color: rgb(230, 230, 230);
}

#toggleDropdown:active{
    background-color: rgb(210,210,210);
}

#textInput{
    padding: 0 10px;
    position: fixed;

    height: 60px;
    width: calc(90vw - 240px); max-width: 360px;

    box-sizing: border-box;
    border:1px grey solid;
}

.dropdownMenuItem{
    display: block;
    line-height: 60px;
    text-align: center;
    box-sizing: border-box;

    width: 180px;
    height: 60px;
    border:1px grey solid;
    border-top: none;
    background-color: white;
}

.dropdownMenuItem:hover{
    background-color: rgb(230, 230, 230);
}

.dropdownMenuItem:active{
    background-color: rgb(210,210,210);
}

#dropdownMenu{
    position: fixed;
    box-sizing: border-box;

    margin: 0;
    top: 60px;
    left: calc(min(90vw - 240px, 360px));
    width: 180px;
    display: none;
}

#dropdownMenu.visible{
    display: inline;
}

#blockCenter{
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 180px;
    user-select: none;
}

#loading{
    pointer-events: none;
    position: absolute;
    left: -250px;
    height: 250px;
    width: 250px;

    background-color: rgba(50, 50, 50, 0.7);
    transition: 3s;
}

.clicked #loading{
    transition: 3s;
    left: 0;
}

#sidebar{
    position: fixed;
    box-sizing: border-box;
    text-align: center;
    top: 50%;
    left: -80px;
    transform: translate(0, -50%);
    user-select: none;

    line-height: 80px;
    height: 80px;
    width: 80px;
    background-color: white;
    border: 2px black solid;
    font-size: 20px;

    transition: 0.5s;
}

#sidebar:hover{
    background-color: rgb(230, 230, 230);
}

#sidebar.open{
    left: -2px;
    transition: 0.5s;
}

:focus{
    outline: none;
}

#pageName{
    left: 50%;
    transform: translate(-50%);
    position: fixed;
    line-height: 80px;
    font-weight: bold;
}