*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
}

body{
    width: 100px;
}

#content{
    overflow: auto;
    position: fixed;
    left: 50%;
    transform: translate(-50%);
    top: 200px;
    z-index: -1;

    height: calc(100% - 200px);
    width: 81vw; max-width: 505px;
}

#products{
    margin: 0;
}

#topContainer{
    text-align: center;

    position: fixed;
    left: 50%;
    transform: translate(-50%);

    height: 200px;
    width: 80vw; max-width: 500px;
    z-index: 5;

    border-bottom: 2px black solid;
}

#topContainer input{
    width: 80px;
    height: 80px;

    border: 2px black solid;
    background-color : white;
}

#toDirectory{
    /* display: inline-block; */
    height: 80px;
    width: 80px;
    border:2px black solid;
    background-color: white;
}

#toDirectory:hover{
    background-color: rgb(230, 230, 230);
}

#toDirectory:active{
    background-color: rgb(210,210,210);
}

#products li:first-child{
    border-top: 2px black solid;
}

#content::-webkit-scrollbar {
    display : none;
}

ul{
    padding: 0;
    list-style-type: none;
}

.product{
    width: 80vw; max-width: 502px;
    height: 60px;
    background-color: white;
    border: 2px black solid;
    border-right: none;
    margin-top: -2px;

    line-height: 60px;
}

#text{
    user-select: none;
    float: left;

    padding-left: 20px;
    width: 360px;
    height: 60px;

    font-size: 25px;

    overflow: auto;
}

.product.taken{
    background-color: greenyellow;
    transition: 0.2s;
}

#loading{
    pointer-events: none;
    position: absolute;

    left: -120px;
    height: 60px;
    width: 120px;

    background-color: rgba(50, 50, 50, 0.7);

    transition: 1s;
}

.clicked #loading{
    transition: 1s;
    left: 0;
}

#parameterContainer{
    user-select: none;
    box-sizing: border-box;
    float: right;
    text-align: center;

    width: 120px;
    height: 60px;

    border-left: 2px black solid;
    border-right: 2px black solid;
    background-color : ghostwhite;

    overflow: hidden;
    position: relative;
}

#bulkActions{
    text-align: center;
}

#text{
    width: calc(min(360px, 80vw - 140px));
}

#bulkActionSection{
    display: inline-block;
    position: relative;

    width: 80px;
    height: 80px;
    margin: 80px 5px;
    
    overflow: hidden;
}

#bulkActionLoading{
    pointer-events: none;
    position: absolute;

    left: -80px;
    height: 80px;
    width: 80px;
    
    background-color: rgba(50, 50, 50, 0.7);

    transition: 1s;
}

#removeAll{
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60%;
    background-image: url('../icons/cross80.png');
}

#toDirectory{
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70%;
    background-image: url('../icons/basket80.png');
}

#removeTaken{
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80%;
    background-image: url('../icons/check80.png');
}

.clicked #bulkActionLoading{
    transition: 3s;
    left: 0;
}

:focus{
    outline: 0;
}